<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="480px" height="480px" viewBox="0 0 480 480" enable-background="new 0 0 480 480" xml:space="preserve">  <image id="image0" width="480" height="480" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAeAAAAHgCAQAAADX3XYeAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAA
LiMAAC4jAXilP3YAAAAHdElNRQflCQcQCADOZVMhAAABw3pUWHRSYXcgcHJvZmlsZSB0eXBlIGlj
YwAAOI2lU1uOHCEM/OcUOYLxszlODzRS7n+BGAzz2tlIm1hqtShju2wX6Xet6dcwNUwwDE/QqqTN
CJgmpE0vY0NBNkYEOaTIiQB2ibuLf+bf5cEO4i1pVjIy4CwgwBX+wbpXHYzyBhphuzP7oaUf3m/K
KkYahTIumCF5Y2BoHA5dDlIznxBsvByBZ3a+h49j4ecaBdbk45xjDEd7BLzgV73j9oRvQo6PROyb
CaqYeVUAD/iMf3M/DaqG2uJM28E+CxfAasHZveC8cdutcXK4muj7lvYmq4peIkI7YLk9gY8Q2PXE
TkLG1kajOpTmQlN3qF8aQ8a2zlfcGZIQXAnwnUD6O4N8PhgMQc9iGMVmEYoizJ5I+3gQ/uUHA3g8
iScbCoY3AbumlIjwWZAZKkektKsPI5R5tjIZ9lZg4rczz39blajVmag6i08MtEdndPRISOUjU+TS
g1E/5jZuWvljQiw2/XbMfz6aA5pdNvc2R6I9eVS3mRdPiyFImYEUMoNTbi+6C6OdCE5qM1A4BMa1
zoullHNViMRd6ne628N+WzvsN/dFeP+R6FWI6Q/FIyBXDDGffgAAJmNJREFUeNrt3Xu4V1W9LvB3
LNbiKndICAT0CELgDZBSMYmtSD3H1PbJ8jmGms8Wt3Y0n7bbzE4785JmPuUVrZRKi609IuZJQhRR
2eVWQRQMEy8gKhh3ENZiLdZ6zx+JcR/zt+aYv++cY76fv8o1GfM7xm++a8w1f3OOCYiIiIiIiIiI
iIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiISKWc3a55
AW5H3X42GOZes6tOZGc8CCPxKQzCIAxAV3RGBzTgQ2zECizHMvwFL7m3rGus5nC04S30GWpdpQjb
8CTexbe8Ryv5LqfyVLa1rrgag9KVsxIMiAIspjiA13FlgiN1Z+v4Ew6xrjzbYTmUSxINhQIsZjiA
P2NjheHdoZm/5WHWPchqYMZzbcJhUIDFBNvySm5pZXh3aOQN7GTdk/BDcyGbEg+BAiwGeBgXpAzv
Dks52ro3IQemlrdV1H0FWKqOZ6Wee3edhy+27lGogenGxyvsvAIsVUXHqwOGd4c7WGvds/RDM5h/
rbjjCrBUER2nZBBfkvxdwSPMk7iuFd1WgKWKeFdG8SXJh9jGun+tH5iLKrhwpQCLCX4nw/iS5K3W
PWzdsNTyjlZ3WQGWKuFpbMk4wORk615WPizd+USKDivAUhXsz/WZx5ds4IjwtddkOCyH4b/xT9m1
LxICHaaiWxV21A73h79TOrMA82Q8h8HZjohIAP+Ck6q0pyNxZegmM3qckN/AT5H2upseJ5TMsTte
R6/Em7+C2XgS72A11qMreqMfxmECRiWeCOsx1L1j3WffkNQG+j5NfwNL5iq4O3A2P72PNobzocQX
wR607rFvQHpwTqA/+hVgyRgHJHziaDPP8LR0IlcnPK6Ptu71/roxlEsTdsP/G0sBlozxzkTH6js8
IkFbB/PVRK09ZN3rfXfhFG5IGN/3ebkCLLbYhw0JjtV1SY9E9uU7iaau4eH6EPAqNC/BH9A10aZv
YSwWhduzSKtcgHbebZpwRtKLqW4lvoDN/s2QvyeUWMe7E8695CvsA3CiZmCxxBq+neBo/U6FrZ6b
oM0N7Gjd+12L7sGnEsd3HrsBCrBY4ykJjtbnKn8IgY8kaPcc697vXPAwvpE4vo/t+N2jAIst3uc9
Alt4VCva7c96b8tPWvf+H+XW8C+J4zuNH68DrQCLJdYluP/5N61s+2Zvy03sYT0C/yh3VMJFSO7g
TpfMFGCxxAne46+Zh7ay7Z7c6m19Uph+BLgK7ebja6B3s2vdxa4lTNEiqZ3u3WKWe6N1Tbu1eMC7
0RkJGqoeXrnf3zYtvHSPf6EZWAwluG5zWorWP+1tfWPO1ujgL/dZatPeThcUYLHDg7xH35p0AeNr
3j0cE6In4W7kuADP7vW/N+Cf3a+D7UUkhM95t3jUNafawwzvFuNCdCRYgF0jvoQ938+2CRPd70Pt
QySQcd4tZqTcw8MBaqg2DtvtXugP9v3khU6hxQ4XeY697eyccg813pVY/xaiJ0FX5HBLcCa2f/x/
38EJ7qWQ7YuEwHbwTQ7znf+e5v1yLfv4k/IfevOT6fsSeEkd9zgu+eh/LsHx7vWwrYsEMQK+hdaf
DrCXud4tjkq/k+BrYrkpuA3ACzjBvRu6bZEgjvJu8UKAvbwYoA6vLF75cBnW4cfuwwxaFgnB/+7e
hQH28jLoWXMuwFWeDFaldM3u+4qv5NhAz8+3oJX3YO3MbcLbnk0Gpd9LhutCi+SUL8BvOv+twUn4
fg346khAAZby8QXnrUSt+Plm4H7p31qoAEvJsB0O9GyyLNCufAFug/5pd6EAS9n08r7O4P1Ae1rp
3aJ32l0owFI23b1bfBBoT6sC1OKhAEvZVC/A/nYUYJEK+RezWRtoT/52Ui+sowBL2fhnvfWB9rQu
QC0eCrCUjX9N5g1hduS2YlvqWjwUYCmbOu8WKZ9E2onvjsTUL/xWgKVsfKHZ7hqD7WuL5+f+XyYe
CrCUjS80DQH3VZ+yFi8FWMrGF5rtiVpJxreulk6hRSrku/843WJ2u/L9MtC90CIV8oUq5HrNvoCm
nu0VYCmbJs/PQy5y4ftlkPpymQIsZeMLcPuA++qQshYvBVjKxjfr1TL1paWPdfL8XAEWqZA/NCnX
hN7JAZ6f6xRapEJbvVt0C7MjdkS71LV4KMBSNv5HFVI/YvAR/7NGqR+bUIClbPyh6RloT/52FGCR
Cvkf8vOtmZWUvx1/LR4KsJSNf9YLFeA+AWrxUIClbNbAt+pzgJeOAQD6erdYnXYXCrCUjNvmXatq
UKBdHez5eTNSvz9MAZbyWe75uS94Sfnaed/pXmiRivkCfCh9K0cnc6jn58vS70IBlvLxBbiTN3oJ
sLN3BvbVkYACLOXzV+8WRwXYy1HeN0C8ln4nCrCUz0LvFscE2MuoAHV4ZfGCb6kStkMv9EQPdENP
9EFv9EIPdEcXHICOaI861KEGQAua0IQGbMWH2IT1WIc1WI1VWIsNWIe1WON8i5/GZjG2e478EwPs
ZZx3i4Xpd6IAFwgd2qMjOmAwxmAUjkZf1KANalCz3zOpGrRDu708F9OCFrSgGS1ciZcwH89jKeqx
FQ2B3o6bW24bX8OI/W4ykgeke0k9HU7wbLLavZe+LwpwAdChAz6DE/FZ9EF3dE+/FBoA7BT7Q3Eo
vgygEeuxHqv4DJ7Gc6iPOMgvegJci/H4fao9HON9lOHFEB1RgHOMbTAKI/EZHIURQVdq2pe2OBAH
YijGAWjGYi7Ec1iA+S7kMm/5MBfnerY4PWWAz0hQQ5FxIn2GWtdoNjadOZRnczob2OIdpay1sIHT
eTaHMtxj7uY4wNvv1Uz1K5NLvHsYYz0K6YZQAd5zTNqwE0/mNK7kFuvc7mELV3IaT2andAd2XvBN
b49PTdH6GG/rGws+jgrwbuPRlxdxNldZ59RrFWfzIvpv0885TvH29A8pWr/H2/oM6xFIO4AK8I6R
OJjncGYOTpYr0cKZPIeh7hm2GPVTvH1s5iGtbLtHgjOoc6xHIO0AKsBgV57EWawvWHh3aGE9Z/Ek
drUex1aNfR03eHt4fyvbvsnbchNDrfphNoAlDzBH8B6usM5gECt4D0ekH5GqfwL3e3vWzCNb0W4/
1ntbftK69+mHr7QBZhdO4tPWqQvuaU5iF+uxrehz8B+B5J8qv9TE6QnaPde699UYvggDzEG8mpus
s5aZTbyag6zHOPFnUcPlCfr07QpbnZSgzY3saN379MNXsgCzlkM4PeLw7rCJ0zmEhbhBiN9P0J9t
HFtBi59K8Jc1eZd1z0MMXokCTMcJnMVt1tmqmm2cxQmBHorP8nP5JBsS9GYNhyRs70AuS9BeSxGv
GOzZ2ZIEmG05kU9aJ8rEk5wY8C1D2Xw6dyXqybIkkeMAvpKotYetex1m6EoQYLbl8ZzPJuskmWni
fB6f5xBzUMJPZxO/6GlpLD9IOCr+54SLIPYA03E057LROkPmGjmXo/N7Os07EvdkJvfxmD+H8YHE
3+U/FLZ+s4HlRMz0bDLMBVhyxKh3w3EFvhLosb/ia8QDuNG9al3G3rAHliZ4h9EOL+NxzMFyrMF6
dEFv9MM4TMAxiVe2acAwt8y6z0HEOwOzF6/RzLuHRl7DXtafzV4/rwurOApXh65ea2IFxVp+DQvw
XdRZV5I7dfguFvBrOfyC6W7MqdKeXsF1oZtUgAPiSDyNX+Eg6zpy6yD8Ck9zpHUZu3LEudhYhR01
4myX+oXeu1OAA2FPXo9ncZzdVYVCcDgOz/L6fN3K71bgPO/7ktL7plsUvlEFOADW8lg8j2+j+DfI
VUNHfBvP89g8nUy7h/G9jHdxp5uSRbMKcGpsi5/jCRyiuTcxh0PwBH6ep2+I3bX4eYbNz8Cl2TSs
AKfEiZiPczX3VqwjzsV8TrQuYyeT8YuMWp6BM9O/xmzvFOAU2I3X4jHEcGerjRF4jNeym3UZf+eI
C/DDDBr+Gb7smrKqWgFuJToOxjxcqRPnVByuxDwOzsedWo7uO/ga6gM22YRvuslZzb6AAtx6kzEP
wzV+qdVgOOZhsnUZO7j7MQovB2rsTYx1t2Rbrw7AVmAv3okp+IR1HdH4BKbwzrzcp+WWYAy+m3oe
bsJNONI9b90b2QOHcGFBl6HLsxYuTPrcbVU+5YH8RatviG3mtGrdCJyLvz2Kgw6n4270tq4jUqsx
GTPy80YmDsCF+DoOrOgfrcevcad7vVo1KsAVYC2uwr/rK6MMbcWPcF2WF30qxVqMxz/jFAz0broS
szEdf6zuy1oV4MTYGbdjknUVJfBrfMNtti5idxyEURiOgRiI/uiGA9ABDfgQm/AulmM5lmBB9Wbd
nSnACXEgpmKcxqsKiLk4zy23LqMYdEAmwtG4F4dbV1Eii/B1F+T9ubFTgBPgePwGfayrKJlV+N+u
Ws/pFpgC7MEanIoHtTiOgUaciUddi3UZ+aYbOfaLbXA+pim+JtpiGs4v+Ft0M6cA7wfrcDFuRQfr
OkqrA27FxdTyRPuhAO8T2+Iy3Iz21nWUWnvcjMvy9Nxw3ijA+8A6XIFrkaNVI0qqFtfiCs3C+6ID
dK/YFldobcmcqMN3Ad4YfkG4GOgq9F6wDpfhWsU3R5rwXfwku8fii0sB3gPb4GLcrHOTnNmOb+EO
12xdRt4owLthDc7Hrbp0lUMNuAT36HvhXSnAu+FpmKYvjnKqHme5R6yLyBcFeBccj5m6bSPHGvF5
3WC5M32NtBOOxm8U31xri99wtHUReaIZ+GMciEf1xFEBLMKpethwB83AH2FnTFV8C+FwTGVn6yLy
QgEGALAWt2OcdRWS0Djcnqc3K1lSgAHQ4SpM0p8TheEwCVflYzF4axoEADwD92upuoLZirPdw9ZF
2FOAwSGYp4ViC2g1xtosJJcnpT+FZi88qPgWUm88mJe3OdgpfYDxAxxhXYK00hH4gXUJ1kp9Ck2H
ycjkvelSNf+Ku/PzLofqK3eAB2OeXlFWcH/DWLfUugg7JQ4wu2EehltXIam9irFug3URVsr8N/C/
YZh1CRLAMPybdQl2SjsDcyIeK2/vI0N8wf3RuggbJT2E2RbzMcK6CglmMUaVc82sUp5CsxZ3K75R
GYG7y3l3dClnYB6LJ3TrZGS24iT3Z+siqq+EAWZPPI9DrKuQ4N7CGLfWuohqK+Mp9LdwsHUJkoGD
8S3rEqqvdDMwR+JZnT5HaitOcAusi6iuks3ArMVtim+0OuK2sl3KKlmAcRaOtS5BMnQszrIuobpK
dQrNXliAg6yrkEytwEi3xrqI6inXDHyp4hu9g3CpdQnVVKIZmMPxkl5YVgJNONq9al1EtZRmBqbD
FYpvKdThivIseFeajnI0/ktvXSiJRhzvXrQuojpKMgOzLX6s+JZGW/yYJfm0SxJgHIPjrEuQKjoO
x1iXUB2lOIVmW/wZI62rkKpagGPL8IBhOWbg8Vp5snSOwHjrEqqhBAGmw+Uo2Q12glpcXoZr0SUI
ME4ux+9i2c14nGxdQvaiDzBry/iQmQAAvhX/ow3Rn2RwCBbpC6SSasThsb89KfoZGDcovqXVFjdY
l5C1yGdgDsIr0Nvcy2szjnDLrIvIUuwz8HmKb6l1xnnWJWQr6hmYXfCuAlxym9HfbbIuIjtxz8Cn
K76l1xmnW5eQpbgDfL51AZIDUR8FEZ9CcwQWWdcguXC4W2xdQlZinoEvsy5AciLiIyHaALMrJljX
IDkxgV2tS8hKtAHGMehvXYLkRP94nw6ON8CXWxcgORLt0RDpRSwejL+gvXUVkhsN+JR727qILMQ6
A38W7axLkBxph89al5CNWAP81VjPLaRVHL5qXUJWHYsQ++K9OHsmrUb0cyutiwgvzhn4DMVXduNw
hnUJWYgwwGwT50clKZ3BNtYlhBdhgNEeh1uXIDl0eIzfS8QY4ONwoHUJkkMHxri4f4wB/rp1AZJT
ER4Z0V3sYWe8jj7WVUgurcIQt9m6iLDim4H7oYt1CZJTXdDPuoTQ4gvwaHS0LkFyqiNGW5cQWnwB
/pJ1AZJj0R0dkf0NzDbYorugZZ+2oZNrti4ipNhm4FFaxl32oy1GWZcQVmwBHhnbOYUE5WJ7T3Rs
Af6MdQGSc5EdIVEFmA5HWdcgOXdUXG8Njqoz7IhNiPCGdQmoGV3cVusiwolqBsZnFF/xaBPXSXRc
AT7RugApgKiOkogCTBfrukcS1Gdj+is4ogCjvR5ikAT6xPRccEwB7oju1iVIAXSP6W75mALcQQGW
BLqjg3UJ4cQU4MG6jVISaIvB1iWEE1OAx1gXIAUR0ZESU4Aju01dMhPRkRJTgI+2LkAKIqIjJZoA
sx36WtcgBdGX0TwzHk2A0Suivki2atDLuoRwXYlFT90HLQm1QU/rEkKJJ8A9IuqLZKsGPaxLCNeV
WHSLqC+SrRp0sy4hXFdi0TOivki2anQKnT96kEGSi+ZoiSfAva0LkAKJ5miJJ8DRfDEgVRDN0RJP
gKO5rihVEM3REk+A9SihJBfN0RJPgPVOQkkumqMlngAfYF2AFEg0R0s8AY5omRTJXDRHSzwBjmih
MslcNEdLPAGusy5ACiSao0UBljKK5miJZolr0roCKRIXyZEfzwwsUkLxBLjFugApkGiOlngC3GRd
gBRINEeLAixlFM3REk+AG6wLkAKJ5miJJ8ARvXVdMhfN0RJPgD+0LkAKJJqjJZ4Ab7IuQAokmqMl
ngCvty5ACiSaoyWeAK+zLkAKJJqjJZ4Ar7EuQAokmqMlngCvti5ACiSaoyWeAK+yLkAKJJqjJZ4A
r43n/lbJWAvWWpcQSjwB3qAAS0It2GBdQijxBHidAiwJtegqdP6sRbN1CVIQzTqFzp81moEloRZ9
jZQ7bhtWWtcgBbHSbbMuIZRoAgzgJesCpCAiOlJiCvB86wKkICI6UmIK8PPWBUhBRHSkxBTgpWi0
LkEKoBFLrUsIJ6YA18fzkJhkaD3qrUsIJ6YAb1WAJYH18SyoE1eAG+K5RV0ytCqeJe2iCrAjnrGu
QQrgGRfRa3giCjCAp60LkAKI6iiJ5BVPf8eO2IQ21lVIrjWji9PfwDlVj8XWJUjOLY7pGnRkAXbE
QusaJOcWxvQXcGQBBvCcdQGSc5EdIbEFeAGi+v0qgRELrEsIK6qLWADbYAvaWVchubUNnVxUCz9E
NgO7ZjxmXYPk2GNxxTe6AAOYbl2A5Fh0R0d8AX4xpjtdJaiteNG6hNDiC/B78bx5TgLbhPesSwgt
ugC7zZhrXYPk1Fy32bqE0KILMIB7rQuQnIrwyIjsayQAYCe8iQOtq5Dc+QD/w22xLiK0GGfgBiyy
LkFyaFFMzwHvEGGAXTMetq5Bcujh2L4DBqI8hQbYF+/F2TNpNaKfi3Dp/whnYMCtxCzrGiRnZsUY
30gDDOA/9VCD7IT4T+sSshFrgJ9BNG+/kQC2xbpeWqQBdm/H+oFJqzzj3rYuIRuRBhjATdYFSI5E
ezTEG+AX8K51CZIT7+IF6xKyEm2A3UY8bl2D5MTjbqN1CVmJ+NtSjtAdWQIAONxFu1pptDMw4Bbr
QpYAeCbe+EYdYAD3WBcgORD1URDxKTTALngXna2rEFOb0d9FvMRD1DOw24SfWNcgxn4Sc3wjn4EB
DsIrmoNLbDOOcMusi8hS1DMw4JbhCesaxNATccc3+hkY4BAsQlvrKsREIw53r1sXka3IZ2AAb2mR
u9Kai7esS8ha9AF223GzdQ1i5Ga33bqErEUfYACzMce6BDEwB7OtS8heCQLsiJsQ/W9i2c123BTX
m4D3rgQBBjAHr1iXIFX2SjnOu0oRYNeIS9BkXYVUURMucY3WRVRDKQIM4AX8yboEqaI/xfsE8K6i
/x54B47Gf+n74JJoxPEuuvcQ7l1ZZmBgPh6wLkGq5AHMty6hWkozAwMcjpdQZ12FZK4JR7tXrYuo
lvLMwHCv4kbrGqQKbixPfEs1AwPshQU4yLoKydQKjHRrrIuonhLNwIBbg6v0xoaoEVeVKb4lm4EB
1uJpHGddhWTmTzgx/vufd1ayAAMciWfR0boKycRWnOAWWBdRXaU6hQYAtwC36DQ6SsQtZYtvCWdg
gD3xPA6xrkKCewtj3FrrIqqtdDMw4NbibGy1rkIC24qzyxffUgYYwAt40LoECezBstz9vKsSnkID
ANtiPkZYVyHBLMaocjx9tLtyzsBwjbhcl7KiQVxezviWNsCA+yOuR4t1FRJAC653f7QuwkpJT6EB
gN0wD8Otq5DUXsVYt8G6CCslDjDAwZiHT1hXIan8DWPdUusi7JT2FBoA8Ab+w7oESek/8IZ1CZZK
PQMDAO/EhRqFgiLuchdZF2Gr9Icue+EJHGldhbTKyzipXM8e7an0AQY4BPPQ27oKqdhqjI39zUd+
5f4bGADgXsdk3VpZOFsxWfFVgP9uBn5kXYJU6EeYYV1CHugUGgDAWtyDr2k0CoK4D+eX68H9fdEh
+xF2xiP4nHUVkshTOM1tti4iHxTgj3EgHsXh1lWI1yKc6pZbF5EXCvBOOBqPoo91FbJfq3BqWd66
kIQCvAuOx0y9gCXHGvF5V4q3Dialq9C7cHNwJuqtq5B9qMeZiu+uFODdPYpL0WBdhOxFAy7Fo9ZF
5I0CvBvXgntxBfQVRd5sxxW41+kJ7t0owHtwzZiCq/RC8FxpwlWY4pqty8gfBXgvXBN+imtQ0kVa
cqgR1+CnTr9S90JXofeBdfg2/q9eR5oDTbgGNyi+e6cA7xPb4pu4DrXWdZTcdlyFn5Z1yTo/BXg/
WId/xY1ob11HiTXgCkzR7LtvCvB+sQ2+jlvQwbqOkqrHpbhXl672RwH2YA1OxYO6O8tAI87Eo/ri
aP90FdrDtbhH8Hmssq6jdFbh8+4RxddHAU7AzcGpWGRdRakswqm6aTIJnUInxIGYinEaryog5uI8
PTCYjMkByYMwEp/CIAzCAHRFZ3RAAz7ERqzAcizDX/CSe8t6YPZSdWfcjknWVZTAr/ENPa6fVFUD
zDb4HP4XJuBg76bvYTamY1a+vv9jLa7Cv6OjdR0R24of4TotlpNc1QLMAZiMr1f4uPx6/ApT8rT2
IB1Ox91ahDYjqzEZM5zeGpk3HMCfsZGt08zf8jDrHuzSmyFcyJZW9kb2pYULOcT6s018DFzgOZ6H
WlcYrqtteSW3pPxwG3kDO1n3ZKc+9eKd1sd7dO5kL+vPNeGn34a3eHsTS4B5GBcE+oCXcrR1b3bp
2YX8wPqYj8YHvND680z8uXflrAQ9iiPAPCv13LuzRl5s3aOd+uY4mIvZbH3sF14zF3MwC/L1HA/l
kkS9qlqAM7uRg45X47dBr9jW4XbewZw8HeTolmIsfghdckmD+CHGuqXFuHDF8fhvxDG3ervqOCWj
39i/y0uEP+rpRC6ynsQKaxEnWn9+FXzSF7Ipcc+KHnPeleHH/hDbWPdvl7625dSgfyqUwxZOZWEe
EWEtb6uod8UOML+T8Yd/q3UPd+tvLY/lm/pqKbEWvslj83Umtd/Ptxsfr7CHRQ4wT6vCoTzZupd7
9Lonr9c8nMgWXs+e1p9XBZ/sYP614j5WLcDBr/6xPxahW+Z1b8NotzjzvVTa95G4DcfqgYf9IP6M
/+MWWJdRQcEn4UF0r/ifDXOvVae+wFeh6TC1CvEF2uH+/P0F5RbgRJyDFdZ15NYKnIMTCxXfizCz
FfGtotBfI/0LTqpS5UfiyirtqQJuu7sPI3GtVpXeQxOuxUh3X3EeVGAt78AdeV/UMOjpHrvjdSS/
Ie4VzMaTeAersR5d0Rv9MA4TMCrxL5V6DHXvVHOwKhiJ4bgCX9FCPB9pxAO40b1qXUYl2B2/wz+1
+p9X7RQ6bKeTX2qfzU/vo43hfCjxRbAHrXu8n7FwHM25rX6EIx6NnMvRRbnT6uNP7zC+nqrXRbwK
zQEJD9fNPMPT0olcnXCgjrbu9X770ZbHc34FX//HponzeXz+rlV4P7eTuT5lzwsZ4GRP6LzDIxK0
dTBfTdTaQ9a99vakLSfySdscGXmSE4sXXoDf4PbUfS9egNmHDQk6ti5p19iX7yRor4XDrXueoC+O
EziL26wTVTXbOIsTinbaDACsDXQLcAED/L0E3WrkiRW0OIKbErR5p3XPE/amlkM4PVGPim0Tp3NI
ce6y2uUz6sE5gUahaAFmDd9O0K3vVNjquQna3MACrVHFQbw64hBv4tUcZD3Grf5shnJpwn76L7IW
LsCnJOj2c5U/hMBHErR7jnXvK+xTF07i05Y5y8TTnMQu1mOb4lM5hRsS9vR9Xu7dpnABvs/bpRYe
1Yp2+7Pe2/KT1r1v1YiN4D1cYZ26IFbwHo6wHs+Un8YliS9cvclDONG7VbECzLoEl91/08q2b/a2
3MQe1iPQyr515UmcxfqCPsfUwnrO4knsaj2OKT+FOt6duM+vsA8QX4AneDvUzENb2XZPbvW2Xujl
1nkwz+HMgoW4hTN5Dv3re+cee/CpxL2ex25AjAH2fwP8WIrWp3pbf9h6BAKMYV9exNlcZZnKRFZx
Ni9iX+vxCjTqw/hG4p4/tuNyaXwB9g/CaSla/7S39Y35WqOj1T1tw048mdO4ModPFm/hSk7jyewU
x1gDAGv4l8T9n8a6j/9dXAHmQd7urEn3ofM17x6OsR6FkNiZQ3k2p7MhByfWLWzgdJ7NoexsPS4Z
jPSohL8q7+BOj9jEFuBJ3u5MTbmHG7x7uNx6FLLANhzDC/lLLgxwc1+ltnMhf8kLOSaeGXevY/yl
BL8kr9nt30QW4Hu93UlxAg0kOon+g/UoZImOHTmeV/MpLuGqDG/J3MZVXMKneDXHs2MRb4Vs1ehe
ud8xaeGle/yLHAU4wIfERdj/t4DN6J7udZGswRrPugir3SfCD07e0KE9OqIDBmMMRuFo9EUN2qAG
Na1amKEFLWhBM1qwEi9hPp7HUtRjKxqKsUpzOPwl9nUz0Hac7369x/YTMdPTZNWeB059zyrbeZe6
np/2ba+uhc/ii/vdpDc/6d4PPTh544h61AN4F08BANuhF3qiB7qhJ/qgN3qhB7qjCw5AR7RHHepQ
A6AFTWhCA7biQ2zCeqzDGqzGKqzFBqzDWqxx26x7ZuwCHIIT9vLfG/AV93vr4jLGUd7TiR8F2Mtl
3r18wXokpLjYi2/ucURt3NejN3k6hU6/JtZR3i1eCFDniwHqENkHtwb/Ext3+U9/wzj3tHVdfukD
7H9378IAdb7sfQdRka77Se64JTgT/1hw7x2c4F6yrimJ9AEe6Pn5FryRvky3CW97NhkUakiknNzj
uOSj/7kEx7vXretJJvsAvxnomqbv14CvDhEPNwW3AXgBJ7h3rWtJKv3KCb7gvBWoUt8M3I+1xVlz
WHLqMqzDj92H1mUkl3IGZjsc6NlkWaBKfQFug/6B9iSl5Zrd94sU3/Sn0L28t4KE+nZ2pXeL3oH2
JFIYaQPsf2/MB4EqXRWgFpHIFCfA/nYUYCmdtAH2L2azNlCl/nYKurCOSOtlPwOvD1TpugC1iEQm
bYD9azJvCFOo2wrfLfcFWh9aJIy0Aa7zbpHySaSd+C7vF/A9PCLppA2wLzTbXWOwWrd4fu7/ZSIS
maxn4IaAtdanrEUkOlkHOOTNjc2en+sUWkonbYB991L7QlcJ3y+DQr4RTySNtAH2hSrkioa+gOpR
BimdtAFu8vw85Kzo+2UQ7nKZSEFkHeD2AWvtkLIWkeikDbBv1qtluEtLnTw/V4CldLKegYFwL+Q4
wPNznUJL6aQN8FbvFt3CFMqOaJe6FpHIpA2w/1GFUI8Y+J81CvXYhEhhZB/gnoEq9bejAEvppA2w
/yE/35pZSfnb8dciEpnsZ+BQAe4ToBaRyKQN8BrvGxM+GajSvt4tVgfak0hhpAyw2+Zdq2pQoEoP
9vy8GYVZjFsklPRvZlju+bkveEn52nlfy7pL+WQf4EMDven9UM/PlwXZi0ihZB/gTt7oJcDO3hnY
V4dIhNIH+K/eLY4KUOdR3jdAvBZkPEQKJX2AF3q3OCZAnaMC1CESnfQBXux9kP7EAHWO826xMMRw
iBRL6gC7bd6T15H0PUfkQYcTPJusdu+FHRiRIkg/AwMven5ei/Ep93CM91EGXw0iUQoR4LneLU5P
uYczAtQgEqEQAX7Ku8WpTLe43eneLeaGGQ6RYgkQYPcO3vJs0gtfaH37HIOhnk02YX7ogREpghAz
MPC4d4sLU7Q+2bvFUy7k+tMihREmwDO8W0zkIa1rmj3wVe9GD4ccEpHiCBPgOdjo3c8PWtn2ld7X
hm7H/ws9LCLFECTArilBhM7ikZW3zH74hnejZ9za8AMjUgRhZmDg/gR7mtKKa9G3JVga/r7QgyJS
Mqzhcvp9u8JWJyVocyN9p9giQXGi96j0fW8STKAZ2LVgaoLNrubYCobpU7g1wWbTnNaDFkmLn2RD
gvlyDYckbO9ALkvQXgtHWPdcyibCGRhw7+OXCTbriceTRI4DMBsDE7T3iFuc2diIlAkHsSnBnElu
4hc9LY3lB4laIv3PCYsElqcZOGzH7kgYO3Im9/GYP4fxAbYkbOUh6x5LGeUpwGEWnNvRsR5YmuAd
Rju8jMcxB8uxBuvRBb3RD+MwAcckPq1vwDC3rFoDJbIDJ2KmZ5NhrphLPPHCxHNweldb91bKKU8z
cLCLWB+5G3OqVPkruK5KexLJrcABdsS53vuiQ2jE2U4v9JbSCz0Dw63Aed73JaX3Tbco832I5F7w
AAPuYXwv46rvdFMy3oNIIWQQYMBdi59nWPMMXJph6yIFkkmAAUzGLzJqeQbO1GvMRP4uowA74gL8
MIOGf4Yvu6ZMR0RE/o5nc2vA730bqVNnyYGYvwfehbsfo/ByoMbexFh3SxVGRKRAMg0w4JZgDL6L
+pTNNOEmHOmer9qoiMg/cCB/wcZWnjg3c1pBn+2QSOXpFLp6nR7A67mqwvCu40+TLgAgUi2lDDAA
sJYTeHeilTbe5694GttZVyyypzwFOOjjhIkHYBBGYTgGYiD6oxsOQAc04ENswrtYjuVYggXudYu6
RERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERE
REREJH7/Hy5K9s9tL60UAAAAGXRFWHRDb21tZW50AENyZWF0ZWQgd2l0aCBHSU1QV4EOFwAAACV0
RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wOS0wN1QxNjowODowMCswMDowMBYzGcUAAAAldEVYdGRhdGU6
bW9kaWZ5ADIwMjEtMDktMDdUMTY6MDg6MDArMDA6MDBnbqF5AAAAG3RFWHRpY2M6Y29weXJpZ2h0
AFB1YmxpYyBEb21haW62kTFbAAAAInRFWHRpY2M6ZGVzY3JpcHRpb24AR0lNUCBidWlsdC1pbiBz
UkdCTGdBEwAAABV0RVh0aWNjOm1hbnVmYWN0dXJlcgBHSU1QTJ6QygAAAA50RVh0aWNjOm1vZGVs
AHNSR0JbYElDAAAAAElFTkSuQmCC" />
</svg>
<g>
	<path d="M30.864,8.79c1.336,0,2.373,0.456,3.112,1.368c0.739,0.913,1.109,2.204,1.109,3.873c0,1.67-0.373,2.968-1.118,3.893
		c-0.746,0.924-1.78,1.387-3.104,1.387c-0.662,0-1.267-0.122-1.813-0.366c-0.548-0.245-1.007-0.62-1.378-1.128h-0.111l-0.325,1.309
		h-1.104V4.689h1.54v3.507c0,0.786-0.024,1.491-0.074,2.115h0.074C28.391,9.297,29.454,8.79,30.864,8.79z M30.642,10.08
		c-1.052,0-1.81,0.301-2.272,0.905c-0.465,0.603-0.696,1.619-0.696,3.047c0,1.43,0.238,2.451,0.714,3.066
		c0.477,0.615,1.24,0.924,2.292,0.924c0.946,0,1.651-0.346,2.115-1.035s0.696-1.68,0.696-2.973c0-1.324-0.232-2.311-0.696-2.96
		S31.612,10.08,30.642,10.08z"/>
	<path d="M44.028,19.125l-0.306-1.447h-0.074c-0.508,0.637-1.014,1.068-1.518,1.294s-1.133,0.339-1.888,0.339
		c-1.008,0-1.799-0.26-2.37-0.779c-0.572-0.52-0.858-1.258-0.858-2.217c0-2.054,1.642-3.13,4.927-3.229l1.725-0.057v-0.63
		c0-0.798-0.171-1.387-0.515-1.767c-0.343-0.381-0.892-0.571-1.646-0.571c-0.848,0-1.806,0.26-2.876,0.779l-0.473-1.178
		c0.5-0.272,1.049-0.485,1.646-0.64c0.597-0.154,1.195-0.232,1.795-0.232c1.212,0,2.11,0.269,2.695,0.807
		c0.584,0.538,0.877,1.401,0.877,2.588v6.939H44.028z M40.549,18.039c0.959,0,1.712-0.262,2.26-0.788
		c0.547-0.525,0.82-1.262,0.82-2.208v-0.918l-1.539,0.064c-1.225,0.043-2.108,0.233-2.649,0.57
		c-0.541,0.338-0.812,0.861-0.812,1.572c0,0.557,0.168,0.98,0.506,1.271C39.472,17.895,39.943,18.039,40.549,18.039z"/>
	<path d="M54.901,16.352c0,0.945-0.352,1.676-1.057,2.189s-1.695,0.77-2.969,0.77c-1.349,0-2.4-0.213-3.154-0.641v-1.428
		c0.488,0.247,1.012,0.441,1.572,0.584c0.56,0.143,1.1,0.213,1.619,0.213c0.804,0,1.422-0.128,1.855-0.385
		c0.433-0.256,0.648-0.647,0.648-1.174c0-0.395-0.171-0.734-0.515-1.016c-0.343-0.281-1.013-0.613-2.009-0.997
		c-0.945-0.353-1.618-0.66-2.018-0.923c-0.398-0.264-0.695-0.562-0.891-0.896c-0.194-0.334-0.292-0.733-0.292-1.197
		c0-0.829,0.337-1.483,1.011-1.962c0.675-0.479,1.6-0.719,2.774-0.719c1.095,0,2.165,0.223,3.21,0.668l-0.547,1.252
		c-1.021-0.42-1.945-0.631-2.774-0.631c-0.729,0-1.28,0.115-1.651,0.343c-0.371,0.229-0.557,0.544-0.557,0.946
		c0,0.272,0.069,0.504,0.209,0.696c0.139,0.192,0.363,0.375,0.672,0.547c0.31,0.174,0.903,0.424,1.781,0.752
		c1.207,0.439,2.021,0.881,2.445,1.326C54.689,15.117,54.901,15.678,54.901,16.352z"/>
	<path d="M61.701,19.311c-1.502,0-2.688-0.457-3.558-1.373c-0.869-0.915-1.304-2.186-1.304-3.812c0-1.639,0.404-2.941,1.211-3.906
		c0.808-0.965,1.892-1.447,3.252-1.447c1.274,0,2.282,0.419,3.024,1.257c0.742,0.838,1.113,1.944,1.113,3.317v0.974h-7.005
		c0.031,1.194,0.333,2.101,0.905,2.718c0.571,0.619,1.378,0.928,2.417,0.928c1.094,0,2.177-0.229,3.246-0.686v1.373
		c-0.544,0.234-1.059,0.403-1.544,0.505C62.974,19.26,62.389,19.311,61.701,19.311z M61.284,10.061
		c-0.816,0-1.468,0.266-1.953,0.798c-0.485,0.532-0.771,1.268-0.858,2.208h5.316c0-0.97-0.217-1.714-0.649-2.23
		C62.707,10.319,62.088,10.061,61.284,10.061z"/>
</g>
</svg>
